body {
    background-color: #f7f7f7;
    margin: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 100px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .item {
    padding: 20px;
    text-align: center;
    overflow: hidden;
    color: white;
    position: relative;
  }
  
  .item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #e74c3c;
  }
  
  .item2 {
    grid-column: span 1;
    grid-row: span 3;
    background-color: #e74c3c;
  }
  
  .item3 {
    grid-column: span 3;
    grid-row: span 1;
    background-color: #e74c3c;
  }
  
  .item4 {
    grid-column: span 2;
    grid-row: span 2;
    background: url('heart.jpg') center/cover no-repeat;
  }
  
  .item5 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #e74c3c;
  }
  
  .item6 {
    grid-column: span 2;
    grid-row: span 1;
    background: url('couple.gif') center/cover no-repeat;
  }
  
  .item7 {
    grid-column: span 1;
    grid-row: span 1;
    background: url('rose.jpg') center/cover no-repeat;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }